<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Currencies ratings</h1>
<form action="#" th:action="@{/result}" th:object="${formFields}" method="post">
    <h2>Choose currency</h2>
    <label>
        <select th:field="*{currencyField}">
            <option th:each="currency: ${currencies}"
                    th:value="${currency}"
                    th:text="${currency}"
                    >
            </option>
        </select>
    </label>
    <h2>Choose start date</h2>
    <label>
        <input type="date" th:attr="max=${maxDate}" th:field="*{startDateField}">
    </label>
    <h2>Choose end date</h2>
    <label>
        <input type="date" th:attr="max=${maxDate}"  th:field="*{endDateField}">
    </label>
    <br>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>